.top-bar {
    background-color: transparent;
}

.top-bar ul {
    background-color: transparent;
}

a,
#high-scores-display {
    color: white;
    font-family: 'Comfortaa', cursive;
    cursor: pointer;
    list-style-type: none;
    font-weight: bold;
}

h1,
h2 {
    color: white;
    font-family: 'Bungee', cursive;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: 'Bungee Shade', cursive;
    font-weight: bold;
}

button {
    background-color: whitesmoke;
    color: #012951;
    font-weight: bolder;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    font-family: 'Bungee Shade', cursive;
    outline: none;
}

.timer {
    color: white;
    text-align: right;
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    font-weight: bold;
}

.score {
    color: white;
    text-align: left;
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    font-weight: bold;
}

#border {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
}

#quotes {
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #DEB887;
    border-width: 10px;
    border-radius: 5px;
    width: 70%;
}

#welcome-box {
    color: white;
    display: block;
    margin: 5px;
    padding: 5px;
    font-family: 'Comfortaa', cursive;
    font-size: x-large;
}

#welcome-text {
    border-style: dotted;
    border-color: gold;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: #00598A;
    font-family: 'Comfortaa', cursive;
}

#game-box {
    color: white;
    display: none;
    font-family: 'Comfortaa', cursive;
    font-size: x-large;
}

#score-box {
    color: white;
    display: none;
    border-style: dotted;
    border-color: gold;
    border-radius: 10px;
    padding: 10px;
    background-color: #00598A;
}

#score-history-box {
    color: white;
    display: none;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    padding: 10px;
}

#quote-box {
    margin-bottom: 20px;
    background-color: transparent;
    color: white;
    border-style: dotted;
    border-color: gold;
    border-width: thick;
    border-radius: 10px;
    padding: 20px;
    background-color: #00598A;
    font-family: 'Comfortaa', cursive;
}

#playBtn {
    display: none;
}

@media (max-width: 1024px) {
    img {
        width: 100%;
    }
    .timer {
        text-align: left;
    }
}