/* /*Style for Application here (: */

<<<<<<< HEAD
/* body {
    background-image: url("assets/images/main-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

} */
.top-bar{
    background-color:transparent;
=======
body {

}

.top-bar {
    background-color: darkred;
>>>>>>> b81e2ae23bb5a9646c5b3dc13b8187bd158c1d46
}

.top-bar ul {
    background-color: transparent;
}

a,
#high-scores-display {
    color: white;
    font-family: 'Bungee Shade', cursive;
    cursor: pointer;
}

h1 {
    color: white;
    font-family: 'Bungee', cursive;
    border-style: dotted;
    border-color: gold;
    border-width: thick;
    padding: 10px;
    margin: 10px;
    font-family: 'Bungee Shade', cursive;
}


button {
    background-color: transparent;
    color: whitesmoke;
    padding: 5px;
    border-style: dotted;
    border-color: gold;
    border-width: thick;
    border-radius: 5px;
    margin: auto;
    font-family: 'Bungee Shade', cursive;
}

.timer,
.score {
    color: white;
    text-align: right;
    font-family: 'Bungee Shade', cursive;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    border-color: gold;
    border-width: thick;
}

#welcome-box {
    color: white;
    display: block;
    margin: 5px;
    padding: 5px;
    font-family: "Arial", "sans-serif";
    font-size: x-large;
}

#game-box {
    color: white;
    display: none;
    font-family: "Arial", "sans-serif";
    font-size: x-large;
}

#score-box {
    color: white;
    display: none;
    font-family: "Arial", "sans-serif";
    border-style: dotted;
    border-color: gold;
}

#score-history-box {
    color: white;
    display: none;
<<<<<<< HEAD
}
#quote-box {
    background-color: transparent;
    color: white;
    font-family: "Arial", "sans-serif";
    border-style: dotted;
    border-color: gold;
    border-width: thick;
}
=======
    font-family: 'Bungee', cursive;
    border-style: dotted;
    display: none;
}
>>>>>>> b81e2ae23bb5a9646c5b3dc13b8187bd158c1d46
