/* /*Style for Application here (: */

body {
    background-color: #EDEDED;
    font-family: 'Quicksand', sans-serif;
}
#high-scores-display {
    padding: .7rem 1rem;
    margin-bottom: 0;
    line-height: 1;
    text-decoration: none;
    display: block;
    color: #1779ba;
    cursor: pointer;
}

#welcome-box,
#quote-box {
    text-align: center;
    padding: 20px;
}

button {
    background-color: #231f20;
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}
.timer,
.score {
    text-align: right;
    padding: 10px;
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
/* 
#welcome-box {
    display: block;
}


#game-box {
    display: none;
}

#score-box {
    display: none;
} 

#score-history {
    display: none;
} */
